.response-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    background: #fff;
}

.overall-container {
    background: #E1F7F5;
}

.overall-container h1 {
    color: #1E0342;
}

.average-satisfied-score {
    display: flex;
    flex-direction: column;
}

.response-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin: 2rem;
}

.average-satisfied-score h3 {
    font-style: italic;
    text-decoration: underline;
}