/* LoginPage.css */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-main {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-image {
  margin-right: 20px;
}

.profile {
  width: 100px;
  /* Adjust as needed */
  height: 100px;
  /* Adjust as needed */
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.email {
  width: 20px;
  /* Adjust as needed */
  height: 20px;
  /* Adjust as needed */
  margin-right: 10px;
}

.name {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  margin-top: 15px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  color: #4285f4;
  text-decoration: none;
}
